/* css styles */
.level1 img {
    height: 300px;
    width: 300px;
    padding: 15px;
    background-color: #375a7f;
    border-radius: 15px;
    transition: transform .4s;
}

.level1 img:hover {
    transform: scale(1.2);
}