/* css styles */
img.level1 {
    height: 250px;
    width: 250px;
    padding: 25px;
    background-color: black;
    border-radius: 25px;
    transition: transform .2s;
}

img.level1:hover {
    transform: scale(1.5);
}